//    ______           __ 
//   / ____/___ ______/ /_
//  / /   / __ `/ ___/ __/
// / /___/ /_/ / /  / /_  
// \____/\__,_/_/   \__/  
// 
.cart-actions {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	flex: 1;
	.arrow{
		$base-color: white;
		width: 38px;
		height: 30px;
		display: block;
		background-color: $base-color;
		border-color: #cdcdcd !important;
		border: solid 1px;
		position: relative;
		cursor: pointer;
		margin-bottom: 10px;
		&:active {
			background-color: darken($base-color, 10%) !important;
		}

		&:hover {
			background-color: lighten($base-color, 5%);
		}
	}
	.arrow-upside{
		border-radius: 20%;
	}
	.arrow-downside{
		border-radius: 20%;
	}
	.arrow-up {
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #cdcdcd;
		position: absolute;
		top: 8px;
		left: 8px;
	}
	.arrow-down {
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #cdcdcd;
		position: absolute;
		top: 8px;
		left: 8px;
	}
	.price {
		font-weight: bold;
		padding: 0;
		margin: 0;
		margin-bottom: 5px;
		display: inline-block;
	}

	.sell-it-text{
		margin-top:25px;
	}

	.price-profit{
		margin-top:0px;
	}

	.name {
		padding: 0;
		margin: 0;
		margin-bottom: 10px;
	}

	.cart-action {
		margin: 5px;
		border-radius: 10px;
		color: #fff;
		border: solid 1px;
		padding: 8px;
		padding-right: 10px;
		padding-left: 10px;
		&.add-to-cart {
			$base-color: #00aeef;

			background-color: $base-color;
			border-color: $base-color;

			&:active {
				background-color: darken($base-color, 10%) !important;
			}

			&:hover {
				background-color: lighten($base-color, 5%);
			}
		}

		&.save {
			$save-color: #00aeef;

			background-color: $save-color;
			border: 1px solid $save-color;
			border-radius: 10px;
			text-align: center;
			color: #ffffff;

			&:active {
				background-color: darken($save-color, 10%) !important;
			}

			&:hover {
				background-color: lighten($save-color, 5%);
			}
		}

		&.cancel {
			$cancel-color: #B4D7E4;

			background-color: #B4D7E4;
			border: 1px solid #2DACB4;
			border-radius: 10px;
			text-align: center;
			color: #116686;

			&:active {
				background-color: darken($cancel-color, 10%) !important;
			}

			&:hover {
				background-color: lighten($cancel-color, 5%);
			}
		}	
	}
	h3{
		font-size: 22px;
	}
		.add-to-store-container {
		display: inline-block;
		background-color: white;
		border-radius: 4%;
		padding-top: 20px;
		padding-bottom: 20px;
		padding: 10px;
		text-align: center;
		margin-right: 10px;
		margin-bottom: 20px;
		width: 250px;
		color: #666666;
		.price {
			font-size: 25px;

		}
	}

	.add-to-cart-container {
		display: inline-block;
		background-color: white;
		border-radius: 4%;
		padding-top: 20px;
		padding-bottom: 20px;
		padding: 10px;
		text-align: center;
		margin-right: 10px;
		width: 250px;
	}

	.user-price {
		font-size: 14px;
	}

}