//    ______           __ 
//   / ____/___ ______/ /_
//  / /   / __ `/ ___/ __/
// / /___/ /_/ / /  / /_  
// \____/\__,_/_/   \__/  
// 
.cart-actions {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	flex: 1;
	.arrow{
		$base-color: white;
		width: 38px;
		height: 34px;
		display: block;
		background-color: $base-color;
		border-color: #cdcdcd !important;
		border: solid 1px;
		position: relative;
		cursor: pointer;
	  margin-bottom: 5px;
  	margin-left: 185px;
  	margin-top: 3px;
		&:active {
			background-color: darken($base-color, 3%) !important;
			border-color: #00aeef !important;
		}

		&:hover {
			background-color: lighten($base-color, 5%);
		}
	}
	.arrow-upside{
		border-radius: 20%;
	}
	.arrow-downside{
		border-radius: 20%;
	}
	.arrow-up {
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #cdcdcd;
		position: absolute;
		top: 11px;
		left: 8px;

		&:active {
			border-bottom: 10px solid #00aeef;
 		}
	}
	.arrow-down {
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #cdcdcd;
		position: absolute;
		top: 11px;
 		left: 8px;
 		
 		&:active {
			border-top: 10px solid #00aeef;
 		}
	}
	.price {
		font-weight: bold;
		padding: 0;
		margin: 0;
		margin-bottom: 5px;
		display: inline-block;
	}

	.sell-it-text{
		margin-top:25px;
	}

	.price-profit{
		margin-top:0px;
	}

	.name {
		padding: 0;
		margin: 0;
		margin-bottom: 10px;
	}

	.cart-action {
		margin: 5px;
		border-radius: 10px;
		color: #fff;
		border: solid 1px;
		padding: 8px;
		padding-right: 10px;
		padding-left: 10px;
		&.add-to-cart {
			$base-color: #00aeef;

			background-color: $base-color;
			border-color: $base-color;

			&:active {
				background-color: darken($base-color, 10%) !important;
			}

			&:hover {
				background-color: #26cc99;
			}
		}

		&.save {
			$save-color: #00aeef;

			background-color: $save-color;
			border: 1px solid $save-color;
			border-radius: 10px;
			text-align: center;
			color: #ffffff;

			&:active {
				background-color: darken($save-color, 10%) !important;
			}

			&:hover {
				background-color: #26cc99;
			}
		}

		&.cancel {
			$cancel-color: #B4D7E4;

			background-color: #B4D7E4;
			border: 1px solid #2DACB4;
			border-radius: 10px;
			text-align: center;
			color: #116686;

			&:active {
				background-color: darken($cancel-color, 10%) !important;
			}

			&:hover {
				background-color: lighten($cancel-color, 5%);
			}
		}	
	}
	
	.add-to-store-container {
		display: inline-block;
		background-color: white;
		border-radius: 12px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding: 10px;
		text-align: center;
		margin-right: 10px;
		margin-bottom: 20px;
		width: 250px;
		color: #666666;
		.price {
			font-size: 25px;
		}
		img {
			float: left;
		}
	}

	.add-to-cart-container {
		display: inline-block;
		background-color: white;
		border-radius: 12px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding: 10px;
		text-align: center;
		margin-right: 10px;
		width: 250px;
		-webkit-transition: .25s ease-in-out all;
		-moz-transition: .25s ease-in-out all;
		-o-transition: .25s ease-in-out all;
		transition: .25s ease-in-out all;
	}

	.add-to-cart-container.ng-enter {
		opacity: 0;
	}

	.add-to-cart-container.ng-enter-active {
		opacity: 1;
	}

	.add-to-cart-container.ng-leave {
		opacity: 1;
	}

	.add-to-cart-container.ng-leave.active {
		opacity: 0;
	}

	.user-price {
		z-index: 2;
		font-size: 24px;
  	margin-top: -57px;
  	font-family: raleway;
  	color: #00aeef;
  	margin-left: 65px;
  	font-weight: bold;
  	float: left;
	}

	.buy-now-price {
		font-size: 24px;
		font-family: raleway;
  	color: #00aeef;
  	font-weight: bold;
	}

	.your-profit {
	  font-size: 12px;
	  letter-spacing: .05em;
	}

	.buy-now-text {
		text-decoration: underline;
		margin-bottom: 10px;
		margin-top: -10px;
		color: #666666;
		cursor: pointer;
	}
}




