//    ______      __                        _
//   / ____/___ _/ /____  ____ _____  _____(_)__  _____
//  / /   / __ `/ __/ _ \/ __ `/ __ \/ ___/ / _ \/ ___/
// / /___/ /_/ / /_/  __/ /_/ / /_/ / /  / /  __(__  )
// \____/\__,_/\__/\___/\__, /\____/_/  /_/\___/____/
//                     /____/
.category-selector {
	background-color: #fafafa;
	overflow: hidden;
	border-radius: 0 0px 5px 5px;
	&:after {
		content: " ";
		display: block;
		clear: both;
		float: none;
	}

	.category {
		margin: 10px 12px;
		width: 100px;
		height: 100px;
		float: left;
		cursor: pointer;
		text-align: center;
		overflow: hidden;

		&.selected {
			opacity: .5 !important;
		}

		&:hover {
			opacity: .8;
		}

		img {
			height: 100%;
		}
	}

	.variant {
	
		cursor: pointer;

		&.selected {
			//opacity: .5 !important;
			color: #ec008c !important;
		}

		&:hover {
			//opacity: .8;
			color: #00aeef;
		}
	}

	.material {
		cursor: pointer;

		&.selected {
			//opacity: .5 !important;
			color: #ec008c !important;
		}

		&:hover {
			//opacity: .8;
			color: #00aeef;
		}
	}
}
