//     ______    ___ __            
//    / ____/___/ (_) /_____  _____
//   / __/ / __  / / __/ __ \/ ___/
//  / /___/ /_/ / / /_/ /_/ / /    
// /_____/\__,_/_/\__/\____/_/     
.editor-area {
	display: flex;
	background-color: #ececec;
	flex-direction: column;
	padding: 0;
	overflow: hidden;

	.editor-action-bar {
		width: 100%;
	}

	.editor {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.editor-inner {
			width: 600px;
			height: 600px;
			@include faint-shadow();
		}
	}

	.product-selector {
		height: 100px;
		background-color: red;
		border: solid 1px black;

		.product {
			height: 100%;
			width: 150px;
			float: left;
			background-color: #fff;
			transition: .25s ease-in-out transform;

			&:hover {
				transform: translateY(-10px);
			}

			&.selected {
				border: solid 1px blue;
			}
		}
	}
}