/*landing page header*/

.landing-page-header {
  width: 100%;
  z-index: 3;
  height: 50px;
  text-align: center;
  background-color: #f9f9f9;
  opacity: .9;
  position: fixed;
  top: 0px; 
  -webkit-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
  -moz-box-shadow:    0px 3px 15px rgba(100, 100, 100, 0.49);
  box-shadow:         0px 3px 15px rgba(100, 100, 100, 0.49);
  .landing-logo-landing {
    img {
    margin-top: 5px;
    padding: 0px;
    }
  }
  .landing-page-header-links {
    top: 17px;
    right: 10px;
    position: absolute;
    a:-webkit-any-link { 
      font-size: 16px;
      color: #666666;
      margin-right: 10px;
    } 
  }
  
  @include media($mobile) {
    .settings {
      display: none;
    }
    .create {
      display: none;
    }
  }
}

.landing-logo {
  img {
  margin-top: 5px;
  position: relative;
  padding: 0px;
  margin-left:-790px;
  }
}

/* sales dashboards header */

.sales-dashboards-header {
  @include span-columns(12);
  z-index: 2;
  height: 50px;
  background-color: #68c6ea;
  opacity: .9;
  position: fixed;
  top: 0px; 
  @include media($tablet) {
    button {
      display: none;
    }
  }
  @include media($mobile) {  
    height: 100px;
    button {
      display: none;
    }
    #sales-dash-dropdown {
      display: none;
    }
    .mobile-none {
      display: none;
    }
  }
}

.dashboard-header-links {
  font-size: 20px;
  top: 0px;
  float: right;
  padding-top: 16px;
  a:-webkit-any-link { 
    color: white; 
    padding-right: 20px;
  }
  @include media($mobile) {
    font-size: 15px;
    margin-right: 0px;
    text-align: center;
    float: none;
    a:-webkit-any-link {  
      padding-right: 0px;
    }
  }
}

.dropdown-store{
  position: absolute;
  top: -20px;
  left: 200px;
  z-index:9000;
}

.dash-logo {
  margin-left: 16px;
  img {
    padding-top: 6px;
    margin-bottom: -43px;
  }
  @include media($mobile) {  
    img {
      height: 75px;
      margin-bottom: 10px;
      text-align: center;
      float: center;
    }
  }
}

.dash-logo1 {
  display: inline-block;
  
  @include media($mobile) {
   display: block;
   margin-bottom: -45px;
   text-align: center;
 }
}

.heads-up-data-outer-container{
  @include span-columns(12);
  background-color: #f8f8f8;
  border-bottom: 1px solid #bbbdc0;
  height: 60px; 
  margin-top: -17px;
  @include media ($tablet) {
    display: none;
  }
  @include media($mobile) {
    display: none;
  }
}

.heads-up-data {
  @include span-columns(8);
  @include shift(4);
  table {
    line-height: 1.25em;
    padding: 0px;
    .orange-border {
      border-left: 3px solid #f45150;
    }
    .yellow-border {
      border-left: 3px solid #fff449;
    }
    .blue-border{
      border-left: 3px solid #0ed6ed;
    }
  }
  th {
    font-size: 18pt;
    padding: 0px;
    padding-left: 10px;
    color: #363636;
    text-align: left;  
  }

  td {
    font-size: 10pt;
    margin-top: 0px;
    padding: 0px;
    padding-left: 10px;
    color: #555555;
    white-space: nowrap;
  }
  
  @include media($mobile) {
    display: none;
  }
}

/* header */

.profile-header {
  width: 100%;
  text-align: center;
  z-index: 3;
  height: 50px;
  background-color: #f9f9f9;
  opacity: .9;
  position: fixed;
  top: 0px; 
  -webkit-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
  -moz-box-shadow:    0px 3px 15px rgba(100, 100, 100, 0.49);
  box-shadow:         0px 3px 15px rgba(100, 100, 100, 0.49);
  .landing-logo-profile {
   img {
      margin-left: 40px;
   }
  }
  @include media($mobile) {
    .new-icon, .account-icon {
      display: none;
    }
  }
  .profile-links {
    margin-top: 17px;
    margin-right: 10px;
    a:-webkit-any-link { 
      font-size: 16px;
      color: #666666;
    }
  }
}


.tool-header{
  width: 100%;
  z-index: 3;
  height: 50px;
  text-align: center;
  background-color: #f9f9f9;
  opacity: .9;
  position: fixed;
  top: 0px; 
  -webkit-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
  -moz-box-shadow:    0px 3px 15px rgba(100, 100, 100, 0.49);
  box-shadow:         0px 3px 15px rgba(100, 100, 100, 0.49);
  .landing-logo-landing {
    img {
    margin-top: 5px;
    padding: 0px;
    }
  }
  .landing-page-header-links {
    top: 17px;
    right: 10px;
    position: absolute;
    a:-webkit-any-link { 
      font-size: 16px;
      color: #666666;
      margin-right: 10px;
    } 
  }
  
}

.active {
  font-weight: 700;
}

.dashboard-icons-links {
  a:any-link {
    color: white;
  }
}

.content {
  display:block;
}

.blur {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  height: 100px;
  overflow: hidden;
  position: fixed;
  -webkit-mask: -webkit-linear-gradient(to bottom, red, red, rgba(255,0,0,0));
  -webkit-mask: linear-gradient(to bottom, red, red, rgba(255,0,0,0));
  mask: linear-gradient(to bottom, red, red, rgba(255,0,0,0));
  z-index:3;
}

