.gallery-panel {

	.gallery {
		
		text-align: center;

		&:after {
			content: ' ';
			display: block;
			clear: both;
		}

		.photo-container {
			width: 140px;
			height: 140px;
			display: inline-block;
			margin: 10px;
			margin-top: 0;
			margin-bottom: 20px;

			@include faint-shadow();

			.photo {
				width: 100%;
				height: 100%;
				overflow: hidden;
				transition: .25s ease-out all;
				cursor: pointer;

				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}

	.action-bar {
		button {
			width: 100%;
		}
	}
}