//     __                              
//    / /   ____ ___  _____  __________
//   / /   / __ `/ / / / _ \/ ___/ ___/
//  / /___/ /_/ / /_/ /  __/ /  (__  ) 
// /_____/\__,_/\__, /\___/_/  /____/  
//             /____/                  
.layers-palette {
	height: 300px;
	display: flex;
	flex-direction: column;

	.layer-list {
		background-color: lightgray;
		flex: 1;
		margin-bottom: 0;
	}

	.layer-actions-bar {
		background-color: blue;
		height: 20px;
	}
}