.product-details-modal {
  position: absolute;
  top: 20%;
  left: 30%;
  background: rgb(255, 255, 255);
  height: 350px;
  width: 515px;
  padding: 25px;
  text-align: center;
  border: 1px solid black;
  padding-top:52px;
  label{
    display: block;
  }
  .description{
    width: 90%;
  }
  .select-store{
    height: 24px;
    width: 170px;
    background-color: white;
  }
  .modal-button{
    display: inline-block;
    width: 180px;
  }
  .close-button{
    position: absolute;
    top: -12px;
    right: -8px;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    padding-left: 0px;
    font-weight: bold;
    cursor: pointer;
  }
}
