.product-details-modal {
  position: absolute;
  top: 35%;
  left: 38%;
  background: rgb(255, 255, 255);
  height: 350px;
  width: 515px;
  padding: 25px;
  text-align: center;
  border: 1px solid black;
}
