//  _    __           _             __      
// | |  / /___ ______(_)___ _____  / /______
// | | / / __ `/ ___/ / __ `/ __ \/ __/ ___/
// | |/ / /_/ / /  / / /_/ / / / / /_(__  ) 
// |___/\__,_/_/  /_/\__,_/_/ /_/\__/____/  
//                                         
.variant-selector {
	background-color: #fafafa;
	overflow: hidden;

	&:after {
		content: " ";
		display: block;
		clear: both;
		float: none;
	}

	.variant {
		width: 33%;
		height: 100px;
		float: left;
		outline: solid 1px #f1f1f1;
		cursor: pointer;
		text-align: center;
		overflow: hidden;

		&.selected {
			opacity: .5 !important;
		}

		&:hover {
			opacity: .8;
		}

		img {
			height: 100%;
		}
	}
}