<div class="modal-header">
	<h3 ng-if="import.isFacebook()">If you want to the image of man in the book:</h3>
	<h3 ng-if="import.isInstagram()">To use pictures to instagram:</h3>
</div>
<div class="modal-body">

	<!-- 
	    ___    ____                       _    ___             
	   /   |  / / /_  __  ______ ___     | |  / (_)__ _      __
	  / /| | / / __ \/ / / / __ `__ \    | | / / / _ \ | /| / /
	 / ___ |/ / /_/ / /_/ / / / / / /    | |/ / /  __/ |/ |/ / 
	/_/  |_/_/_.___/\__,_/_/ /_/ /_/     |___/_/\___/|__/|__/  
	                                                           		
	-->
	<div class="album-grid" ng-hide="selectedAlbum || import.isInstagram()">
		<div ng-repeat="album in import.getAlbums()" ng-click="selectAlbum(album)" class="album-preview">
			<div class="album-preview-image" background-image="{{import.getAlbumPreviewUrl(album)}}">
				<div class="album-name">
					{{album.name}}
				</div>
			</div>
		</div>
	</div>

	<!--
	    ____  __          __           _    ___             
	   / __ \/ /_  ____  / /_____     | |  / (_)__ _      __
	  / /_/ / __ \/ __ \/ __/ __ \    | | / / / _ \ | /| / /
	 / ____/ / / / /_/ / /_/ /_/ /    | |/ / /  __/ |/ |/ / 
	/_/   /_/ /_/\____/\__/\____/     |___/_/\___/|__/|__/  
	                                                        
	-->
	<!-- <span ng-show="selectedAlbum">{{selectedAlbum.name}}</span> -->
	<div class="album-grid" ng-show="selectedAlbum || import.isInstagram()">
		<div ng-repeat="photo in import.getPhotos()" ng-click="togglePhotoSelection(photo)" class="album-preview">
			<div class="album-preview-image" background-image="{{import.getPhotoPreviewUrl(photo)}}">
			</div>
		</div>
	</div>

	<!-- TODO: Dynamic preview selection based on social network -->
	<div class="photo-selection-tray">
		<div ng-repeat="photo in selectedPhotos" background-image="{{import.getPhotoPreviewUrl(photo)}}" class="selected-photo-thumbnail">
		</div>
	</div>

	<div class="loading-indicator" ng-show="importing">
		Loading...
	</div>

</div>
<div class="modal-footer">
	<button ng-click="importSelected()" class="btn btn-primary pull-right">Import Selected</button>
</div>