<div class="layers-palette" ng-controller="LayerPaletteCtrl as layerPalette">
	<div ng-click="layerPalette.onLayerBackgroundClick($event)" class="layer-list">
		<div ng-repeat="layer in layerPalette.getLayerSet().getLayers()" class="layer" ng-class="{selected: layer.isSelected() }" ng-click="layerPalette.onLayerClick($event, layer)">
			<div class="layer-thumbnail"></div>
			<div class="layer-name">{{layer.name}}</div>
			<div class="layer-delete" ng-click="layerPalette.onClickDelete($event, layer)">&times;</div>
			<div class="layer-movement-controls">
				<div class="layer-control layer-up" ng-click="layerPalette.onClickUp($event, layer)"></div>
				<div class="layer-control layer-down" ng-click="layerPalette.onClickDown($event, layer)"></div>
			</div>
		</div>
	</div>
</div>