<div class="layers-palette" ng-controller="LayerPaletteCtrl as layerPalette">
	<div class="layer-list">
		<div ng-repeat="layer in layerPalette.getLayerSet().getLayers()" class="layer" ng-class="{selected: layer.isSelected() }" ng-click="layerPalette.onLayerClick($event, layer)">
			<div class="layer-thumbnail" background-image="{{layer.getLayerPreview()}}" cover></div>
			<div class="pattern-thumbnail" ng-click="layerPalette.onClickRemovePattern($event, layer)" ng-class="{ active: layer.getPattern() }"></div>
			<div class="layer-name">{{layer.name}}</div>
			<div class="layer-delete" ng-click="layerPalette.onClickDelete($event, layer)">&times;</div>
			<div class="layer-movement-controls">
				<div class="layer-control layer-up" ng-click="layerPalette.onClickUpControl($event)"></div>
				<div class="layer-control layer-down" ng-click="layerPalette.onClickDownControl($event)"></div>
			</div>
		</div>
	</div>
</div>
