<div ng-controller="TextPropertyCtrl as text" class="asset-panel">
    <ui-select ng-model="text.styles.fontFamily" theme="bootstrap">
        <ui-select-match>{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="fontFamily in text.options.fontFamilies | filter: $select.search">
            <div style="font-family: '{{fontFamily.name}}';">{{fontFamily.name}}</div>
        </ui-select-choices>
    </ui-select>
    <input class="form-control col-md-12" ng-model="text.text" />

    <!-- Text Styling -->
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="text.styles.bold" btn-checkbox>B</label>
        </div>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="text.styles.italic" btn-checkbox>I</label>
        </div>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="text.styles.underline" btn-checkbox>U</label>
        </div>
        <div class="btn-group">
            <label class="btn btn-primary" colorpicker colorpicker-position="top" ng-model="text.styles.color" type="button">
                Color
            </label>
        </div>
    </div>

    <button ng-click="text.test()" class="btn btn-primary">Add Text</button>
</div>
