<div class="asset-panel text-panel">
    <ui-select ng-model="text.styles.fontFamily" theme="bootstrap" ng-disabled="!text.enabled()">
        <ui-select-match>{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="fontFamily in text.options.fontFamilies | filter: $select.search">
            <div style="font-family: '{{fontFamily.name}}';">{{fontFamily.name}}</div>
        </ui-select-choices>
    </ui-select>
    <input class="form-control col-md-12 text-properties-input" ng-model="text.text" ng-disabled="!text.enabled()" placeholder="Enter text here" />

    <div>
        <div class="pull-left">
            <button class="style-control bold" ng-click="text.bold()" ng-class="{enabled: text.isBold()}" ng-disabled="!text.enabled()">B</button>
            <button class="style-control underline" ng-click="text.underline()" ng-class="{enabled: text.isUnderline()}" ng-disabled="!text.enabled()">U</button>
            <button class="style-control italic" ng-click="text.italic()" ng-class="{enabled: text.isItalic()}"ng-disabled="!text.enabled()">I</button>
            <button class="style-control text-color-picker" colorpicker colorpicker-position="top" ng-model="text.styles.color" background-color="{{text.styles.color}}" text-color="{{text.styles.color}}" ng-disabled="!text.enabled()">&nbsp;&nbsp;</button>
            {{text.styles.color}}
        </div>
        <div class="pull-right">
            <button class="style-control add" ng-click="text.addNew()">add</button>
        </div>
    </div>
</div>
