<div class="color-selector">
	<div class="notification light" ng-hide="hasCategory()">Select a product from the products tab.</div>
	<div ng-show="hasCategory()">
		<ul ng-controller="ProductColorPickerCtrl as productColorPicker" class="product-color-picker">
		  <li ng-repeat-start="color in productColorPicker.colors track by color.name" ng-click="productColorPicker.changeColor(color.name, color.id)" class="swatch" style="background-color: {{color.name}};" ng-class="{selected: productColorPicker.isSelected(color.name)}">
		  </li>
		  <br ng-repeat-end ng-show="($index + 1) % 9 === 0">
		</ul>
	</div>
</div>
