$app-height: 700px;

.app-container {
	height: $app-height;

	> .row {
		height: 100%;

		.col-md-2,
		.col-md-3,
		.col-md-6,
		.col-md-7 {
			height: 100%;
		}
	}
}

.asset-sources {
	.asset-panel {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 300px;

		.gallery {
			flex: 1;
			overflow-x: hidden;
			overflow-y: auto;
		}
	}
}

.editor-area {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ddd;
}

.cart-actions {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.cart-action {
		width: 100%;
		margin: 5px;
	}
}

.layers-palette {
	height: 300px;
	display: flex;
	flex-direction: column;

	.layer-list {
		background-color: lightgray;
		flex: 1;
		margin-bottom: 0;
	}

	.layer-actions-bar {
		background-color: blue;
		height: 20px;
	}
}

// injector
// endinjector
