// $app-height: 700px;
$app-height: 100%;
$app-width: 100%;

@mixin faint-shadow() {
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
}

//     __  ___      _     
//    /  |/  /___ _(_)___ 
//   / /|_/ / __ `/ / __ \
//  / /  / / /_/ / / / / /
// /_/  /_/\__,_/_/_/ /_/ 
//                       

html {
	height: 100%;
}

body {
	min-height: 100%;
	height: 100%;
}

.inksy-product-designer {
	height: $app-height;
	width: $app-width;
	background-color: #ececec;
	display: flex;
	flex-direction: row;

	.left-sidebar {
		width: 375px;
		padding-top: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
		display: flex;

		.left-sidebar-inner {
			background-color: #f1f1f1;
			display: flex;
			flex: 1;

			@include faint-shadow();
		}
	}

	.editor-area {
		flex: 1;
	}

	.right-sidebar {
		width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 15px;
	}
}

.inksy-product-designer {
// injector
// endinjector
}