<!doctype html>
<html ng-app="inksy">
  <head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700%7CLora:400,700,400italic,700italic%7CPress+Start+2P%7CIndie+Flower&subset=latin,latin,latin,latin">

    <meta charset="utf-8">
    <title>inksy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <link rel="stylesheet" href="app/vendor.css">
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <div class="inksy-product-designer" ng-controller="MainCtrl as main">

      <div class="left-sidebar">
        <div class="left-sidebar-inner">
          <tabset class="asset-sources inksy-tabset" justified="true">

            <tab heading="Product">
              <category-selector></category-selector>
            </tab>

            <tab heading="Variant">
              <variant-selector></variant-selector>
            </tab>

            <tab heading="Design">

              <div class="design-elements-container" ng-controller="DesignElementsTabCtrl">

                <ul>

                  <li file-upload-button>
                    <img src="assets/images/icons/upload.png" ng-hide="active.upload">
                    <img src="assets/images/icons/upload_on.png" ng-show="active.upload">
                  </li>

                  <li ng-click="toggle('facebook')">
                    <img src="assets/images/icons/facebook.png" ng-hide="active.facebook">
                    <img src="assets/images/icons/facebook_on.png" ng-show="active.facebook">
                  </li>

                  <li ng-click="toggle('instagram')">
                    <img src="assets/images/icons/instagram.png" ng-hide="active.instagram">
                    <img src="assets/images/icons/instagram_on.png" ng-show="active.instagram">
                  </li>

                  <li ng-click="toggle('text')">
                    <img src="assets/images/icons/text.png" ng-hide="active.text">
                    <img src="assets/images/icons/text_on.png" ng-show="active.text">
                  </li>

                </ul>

                <div class="floating-panel upload-panel" ng-class="{show: false}">
                  <div class="asset-panel" gallery-panel></div>
                </div>

                <div class="floating-panel facebook-panel" ng-class="{show: isActive('facebook')}">
                  <div class="asset-panel" facebook-panel active="active.facebook"></div>
                </div>

                <div class="floating-panel instagram-panel" ng-class="{show: isActive('instagram')}">
                  <div class="asset-panel" instagram-panel active="active.instagram"></div>
                </div>

                <div class="floating-panel text-panel" ng-class="{show: isActive('text')}">
                  <div ng-include="'app/partials/text-properties.html'" class="asset-panel"></div>
                </div>
              </div>

              <!-- Layers Palette -->
              <div ng-include="'app/partials/layer-palette.html'"></div>

              <div class="btn-group" ng-show="productSides.length > 1">
                <label class="btn btn-default" ng-repeat="side in productSides" ng-model="product.angle" btn-radio="side">{{side}}</label>
              </div>
            </tab>
          </tabset>
        </div>
      </div>

      <div class="editor-area">
        <!-- Action Bar -->
        <div class="editor-action-bar">

        </div>

        <!-- Editor Canvas -->
        <div class="editor">
          <div class="editor-inner" editor></div>
        </div>
      </div>


      <div class="right-sidebar">
        <div ng-controller="CartCtrl as cart" class="cart-actions">
          <div class="add-to-store-container">
            <div class="price">SET YOUR PRICE</div>
            <img src="assets/images/icons/price-tag.png" height="80px">
            <div class="user-price"> {{cart.userPrice | currency:'$'}}
            </div><br/> 
            <div class="arrow arrow-upside" ng-click="cart.priceUp()"><div class="arrow-up"></div></div>
            <div class="arrow arrow-downside" ng-click="cart.priceDown()"><div class="arrow-down"></div></div>
          
            
            <div class="your-profit">YOUR PROFIT PER ITEM {{cart.profit | currency:'$'}}</div>
            <button ng-click="cart.addProductDetails('Send')"  class="cart-action save" type="button">ADD IT TO YOUR STORE</button>
          <!-- Modal -->
            <div class="product-details-modal" ng-show="cart.modalOpened">
              <div class="close-button" ng-click="cart.cancelProductDetails()" >X</div>
              <form action="">
                <label for="productName">name it: </label>
                <input type="text" name="productName" ng-model="cart.productName">
                <div ng-show="cart.modalInstance == 'Send'">
                  <label for="productName">describe it: </label>
                  <textarea class="description" type="text"  cols="60" name="productDescription" ng-model="cart.productDescription"></textarea>
                </div>
                <label for="store">{{cart.modalDropdownLabel()}}</label>
                <select name="store" class="select-store" id="select-store" ng-model ="cart.store" ng-show="cart.modalInstance == 'Send'">
                  <option value="{{store.id}}" ng-repeat="store in cart.stores">{{store.name}}</option>
                </select>
                <select name="size" class="select-store" id="select-size" ng-model ="cart.product_size" ng-show="cart.modalInstance == 'Add to cart' && cart.isShirtOrHoodie()">
                  <option value="{{size.id}}" ng-repeat="size in cart.sizes">{{size.label}}</option>
                </select>
                <br><br>
                <div ng-show="cart.modalInstance == 'Add to cart'">
                  <button ng-click="cart.sendToCart()" class="cart-action save modal-button" type="button">Add to cart</button>
                </div>
                <div ng-show="cart.modalInstance == 'Send'">
                  <button ng-click="cart.sendProductToRails('save')" class="cart-action save modal-button" type="button">Save</button>
                  <button ng-click="cart.sendProductToRails('publish')" class="cart-action cancel modal-button" type="button">Publish</button>
                </div>
              </form>
            </div>
          </div>
          <div ng-click="cart.addToCartContainer=!cart.addToCartContainer" class="buy-now-text">Or, buy it for yourself >></div>
          <div class="add-to-cart-container price" ng-if="cart.addToCartContainer">
            <div class="price buy-now-price" ng-bind="(cart.suggestedPrice | currency:'$')"></div>
            <button ng-click="cart.addProductDetails('Add to cart')" class="cart-action add-to-cart" type="button">ADD TO CART</button>

          <!-- <h2 class="name" ng-bind="cart.productName"></h2> -->
             
          </div>
<!--           <button ng-click="cart.callForStores()" class="cart-action add-to-cart" type="button">Test Stores</button> -->
        </div>
        
        </div>
      </div>
    </div>

    <!-- <script src="bower_components/jquery/dist/jquery.min.js"></script> -->

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials}) scripts/app.js -->
    <!-- inject:js -->

    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
