<!doctype html>
<html ng-app="inksy">
  <head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700%7CLora:400,700,400italic,700italic%7CPress+Start+2P%7CIndie+Flower&subset=latin,latin,latin,latin">

    <meta charset="utf-8">
    <title>inksy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <link rel="stylesheet" href="app/vendor.css">
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <div class="container app-container" ng-controller="MainCtrl as main">
      <div class="row">
        
        <div class="col-md-3">
          <tabset class="asset-sources">
            <tab heading="Images">
              <div ng-controller="GalleryCtrl as gallery" class="asset-panel">

                <!-- Gallery Goes Here -->
                <div class="gallery" droppable="gallery.handleImageDrop">
                  
                  <div class="row">
                    <div ng-repeat="image in gallery.images" class="col-md-6" draggable="image.src" draggable-type="image">
                      <a class="thumbnail">
                        <img style="height: 100px; width: 100%" ng-src="{{image.src}}" />
                      </a>
                    </div>
                  </div>
                </div>

                <!-- Image Upload Sources -->
                <div class="row">
                  <div class="col-md-4">
                    <a href="#" file-upload-button file-handler="gallery.fileHandler">Upload</a>
                  </div>
                  <div class="col-md-4">
                    <a href="#" ng-click="gallery.getFacebookPhotos()">Facebook</a>
                  </div>
                  <div class="col-md-4">
                    <a href="#" ng-click="gallery.getInstagramPhotos()">Instagram</a>
                  </div>
                </div>
              </div>
            </tab>

            <tab heading="Text">
              <div ng-controller="TextPropertyCtrl as text" class="asset-panel">

                <ui-select ng-model="text.styles.fontFamily" ng-disabled="!text.enabled()" them="bootstrap">
                  <ui-select-match>{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="fontFamily in text.options.fontFamilies | filter: $select.search">
                    <div style="font-family: '{{fontFamily.name}}';">{{fontFamily.name}}</div>
                  </ui-select-choices>
                </ui-select>

                <textarea class="form-control col-md-12" ng-model="text.text" ng-disabled="!text.enabled()">
                </textarea>

                <!-- Text Styling -->
                <div class="btn-group btn-group-justified">
                  <div class="btn-group">
                    <label class="btn btn-primary" ng-model="text.styles.bold" btn-checkbox ng-disabled="!text.enabled()">B</label>  
                  </div>

                  <div class="btn-group">
                    <label class="btn btn-primary" ng-model="text.styles.italic" btn-checkbox ng-disabled="!text.enabled()">I</label>  
                  </div>
                  
                  <div class="btn-group">
                    <label class="btn btn-primary" ng-model="text.styles.underline" btn-checkbox ng-disabled="!text.enabled()">U</label>
                  </div>
                </div>

                <!-- Text Alignment -->
                <div class="btn-group btn-group-justified">
                  <div class="btn-group">
                    <label class="btn btn-primary" ng-model="text.styles.align" btn-radio="'left'" ng-disabled="!text.enabled()">Left</label>  
                  </div>

                  <div class="btn-group">
                    <label class="btn btn-primary" ng-model="text.styles.align" btn-radio="'center'" ng-disabled="!text.enabled()">Center</label>  
                  </div>
                  
                  <div class="btn-group">
                    <label class="btn btn-primary" ng-model="text.styles.align" btn-radio="'right'" ng-disabled="!text.enabled()">Right</label>
                  </div>
                </div>

                <button colorpicker colorpicker-position="top" ng-model="text.styles.color" type="button" class="btn btn-primary">Change Color</button>
            

                <button ng-click="text.test()" class="btn btn-primary">Add Text</button>
              </div>
            </tab>

            <tab heading="Patterns">
              <div class="asset-panel">
                
              </div>
            </tab>

          </tabset>
          
          <hr>

          <!-- Layers Palette -->
          <div ng-controller="LayerPaletteCtrl as layerPalette" class="layers-palette">
            <div droppable="layerPalette.handleImageDrop" class="list-group layer-list">
              <span ng-repeat="layer in layerPalette.getLayerSet()" class="list-group-item clearfix" ng-class="{active: layerPalette.isSelected(layer) }" ng-click="layerPalette.selectLayer($event, layer)">
                {{layer.name}}

                <span class="pull-right">
                  <a ng-click="layerPalette.moveUp($event, layer)">▲</a>
                  <a ng-click="layerPalette.moveDown($event, layer)">▼</a>
                  <a ng-click="layerPalette.deleteLayer($event, layer)">x</a>
                </span>
              </span>
            </div>

<!--             <div class="layer-actions-bar">
              stupid layer actions here
            </div>
 -->          </div>
        </div>

        <!-- The Editor -->
        <div class="col-md-7 editor-area" droppable="main.handleImageDrop">

          <!-- Action Bar -->
          <div class="editor-action-bar">
            <div class="btn-group">
              <label class="btn btn-default" ng-model="main.product.angle" btn-radio="main.ProductAngle.Front">Front</label>
              <label class="btn btn-default" ng-model="main.product.angle" btn-radio="main.ProductAngle.Back" ng-show="main.productHasMultipleSides()">Back</label>
            </div>
          </div>

          <!-- Editor Canvas -->
          <div editor class="editor"></div>

          <div ng-controller="ProductSelectorCtrl as selector" class="product-selector">
            <div ng-repeat="product in selector.getProducts()" background-image="{{selector.getProductPreviewUrl(product)}}" contain='true' ng-click="selector.selectProduct(product)" class="product" ng-class="{selected: selector.isSelected(product)}">
            </div>
          </div>
        </div>

        <!-- Cart Actions -->
        <div ng-controller="CartCtrl as cart" class="col-md-2 cart-actions">
          <h2>${{cart.price}}</h2>
          <button ng-click="cart.addToCart()" class="btn btn-primary cart-action" type="button">Add to Cart</button>
          <button ng-click="cart.saveToProfile()" class="btn btn-default cart-action" type="button">Save to Profile</button>
        </div>

      </div>
    </div>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials}) scripts/app.js -->
    <!-- inject:js -->

    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
