<!doctype html>
<html ng-app="inksy">
  <head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700%7CLora:400,700,400italic,700italic%7CPress+Start+2P%7CIndie+Flower&subset=latin,latin,latin,latin">

    <meta charset="utf-8">
    <title>inksy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <link rel="stylesheet" href="app/vendor.css">
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <div class="inksy-product-designer" ng-controller="MainCtrl as main">
      
      <div class="left-sidebar">
        <div class="left-sidebar-inner">
          <tabset class="asset-sources inksy-tabset" justified="true">

            <tab heading="Product">
              <category-selector></category-selector>
            </tab>

            <tab heading="Variant">
              <variant-selector></variant-selector>
            </tab>

            <tab heading="Design">
              <tabset class="asset-sources design-tabs" justified="true">
                <tab active="active.upload">
                  <tab-heading>
                    <img src="/assets/images/icons/upload.png" ng-hide="active.upload">
                    <img src="/assets/images/icons/upload_on.png" ng-show="active.upload">
                  </tab-heading>
                  <div ng-include="'app/partials/gallery.html'" class="asset-panel"></div>
                </tab>

                <tab active="active.facebook">
                  <tab-heading>
                    <img src="/assets/images/icons/facebook.png" ng-hide="active.facebook">
                    <img src="/assets/images/icons/facebook_on.png" ng-show="active.facebook">
                  </tab-heading>

                  <div class="asset-panel">testing</div>
                </tab>

                <tab active="active.instagram">
                  <tab-heading>
                    <img src="/assets/images/icons/instagram.png" ng-hide="active.instagram">
                    <img src="/assets/images/icons/instagram_on.png" ng-show="active.instagram">
                  </tab-heading>

                  <div class="asset-panel">
                    
                  </div>
                </tab>

                <tab active="active.text">
                  <tab-heading>
                    <img src="/assets/images/icons/text.png" ng-hide="active.text">
                    <img src="/assets/images/icons/text_on.png" ng-show="active.text">
                  </tab-heading>
                  <div ng-include="'app/partials/text-properties.html'" class="asset-panel"></div>
                </tab>

                <tab active="active.pattern">
                  <tab-heading>
                    <img src="/assets/images/icons/pattern.png" ng-hide="active.pattern">
                    <img src="/assets/images/icons/pattern_on.png" ng-show="active.pattern">
                  </tab-heading>
                  <div ng-include="'app/partials/patterns.html'" class="asset-panel"></div>
                </tab>
              </tabset>

              <!-- Layers Palette -->
              <div ng-include="'app/partials/layer-palette.html'"></div>
            </tab>
          </tabset>
        </div>
      </div>

      <div class="editor-area" droppable="main.handleImageDrop">
        <!-- Action Bar -->
        <div class="editor-action-bar">
          <div class="btn-group">
            <label class="btn btn-default" ng-repeat="side in productSides" ng-model="product.angle" btn-radio="side">{{side}}</label>
          </div>
        </div>

        <!-- Editor Canvas -->
        <div class="editor">
          <div class="editor-inner" editor></div>
        </div>

        <ul ng-controller="ProductColorPickerCtrl as productColorPicker" class="product-color-picker">
          <li ng-repeat="color in productColorPicker.colors track by color" ng-click="productColorPicker.changeColor(color)" class="swatch" style="background-color: {{color}};" ng-class="{selected: productColorPicker.isSelected(color)}">
          </li>
        </ul>
      </div>

      <div class="right-sidebar">
        <div ng-controller="CartCtrl as cart" class="cart-actions">
          <h2 class="price" ng-bind="(cart.price | currency:'$')"></h2>
          <h2 class="name" ng-bind="cart.productName"></h2>
          <button ng-click="cart.addToCart()" class="cart-action add-to-cart" type="button">add to cart</button>
          <!-- <button ng-click="cart.saveToProfile()" class="cart-action save" type="button">save</button> -->
        </div>
      </div>

    </div>

    <!-- <script src="bower_components/jquery/dist/jquery.min.js"></script> -->

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials}) scripts/app.js -->
    <!-- inject:js -->

    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
